.pf-c-page {
  min-height: 100vh;
}

.product-card .product-title {
  margin: 10px 0 0;
  font-weight: 700;
  color: rgb(19, 97, 241);
}

.image {
  height: 50vh;
  width: auto;
  transition: .5s ease;
}

@keyframes zoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zoomed_image_container {
  align-items: center;
  flex: auto;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  cursor: zoom-out;
  animation-name: zoom;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  height: 100%;
  width: 100%;
  z-index: 200;
  zoom: normal;
  background-color: RGBA(0, 0, 0, 0.75);
  overflow: hidden;
}

.zoomed_image_container img {
  position: relative;
  align-self: center;
  width: auto;
  height: 94%;
  top: 0.01%;
  margin: auto;
  z-index: 200;
  cursor: zoom-out;
}

.zoomed_image_navigation {
  position: fixed;
  bottom: 0;
  left: 45%;
  display: flex;
  align-content: center;
  z-index: 40000;
}

.zoomed_image_navigation button{
  background-color: RGBA(0, 0, 0, 0.75);
  z-index: 30000;
}

.zoomed_image_navigation p{
  background-color: RGBA(0, 0, 0, 0.75);
  width: 80px;
  padding: 10px;
  color: white;
  font-size:30px;
  display: inline;
  white-space: nowrap;
}

/* .zoomed_image_navigation:hover{
  opacity:1;
} */

.container{
  opacity: 1;
  cursor: pointer;
}
.container:hover .image {
  opacity: 0.75;
}

.container:hover .redirect, .container:hover .analyse, .container:hover .copyLink {
  opacity: 1;
}

.redirect {
    transition: .5s ease;
    opacity: 0;
    width: auto;
    float:right;
    left: auto;
    text-align: center;
    background-color: #f10404;
}

.analyse {
  transition: .5s ease;
  opacity: 0;
  width: auto;
  float:right;
  left: auto;
  text-align: center;
  background-color: #04AA6D;
}

.copyLink {
  transition: .5s ease;
  opacity: 0;
  width: auto;
  float:right;
  left: auto;
  text-align: center;
  background-color:cornflowerblue;
}

.text {
  /* background-color: #04AA6D; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.en_screens {
  margin-left: 20%;
  margin-right: 20%;
}
